<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Daizoubu"
        android:name =".DaizoubuApplication"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.order.cart.CartActivity"
            android:parentActivityName=".ui.order.OrderActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.order.location.LocationActivity"
            android:parentActivityName=".ui.order.OrderActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.order.menu.ItemDetailActivity"
            android:parentActivityName=".ui.order.OrderActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.order.menu.MenuActivity"
            android:parentActivityName=".ui.order.OrderActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.homepage.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>


        <activity
            android:name=".ui.auth.LoginActivity"
            android:parentActivityName=".ui.homepage.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:launchMode="singleTask">

        <intent-filter>

            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />

        </intent-filter>

        <intent-filter android:autoVerify="true">
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
            <data android:scheme="http"/>
            <data android:host="daizoubu.firebaseapp.com" />

        </intent-filter>

        </activity>

        <activity
            android:name=".ui.order.OrderActivity"
            android:parentActivityName=".ui.homepage.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.bounties.BountiesActivity"
            android:parentActivityName=".ui.homepage.MainActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>